name: Construir APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1 # Cambiado a v1 (la versión estándar)
        with:
          command: buildozer android debug
          buildozer_version: master
          repository_root: . # Importante para evitar el error de permisos

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
